# Terraform state
*.tfstate
*.tfstate.backup
*.tfstate.*.backup

# Terraform plan
*.tfplan

# Terraform working directory
.terraform/
.terraform.lock.hcl

# Terraform variable files
terraform.tfvars
*.auto.tfvars

# Mac files
.DS_Store

# Crash logs
crash.log
